.dashboard {
  background-color: #eee;
  color: #333;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  @include for-size(phone-only) {
    height: 100%;
    overflow: hidden;
  }
}

.news{
  &-author, &-post, &-post__text {
    padding: .5rem;
  }
  &-author {
    margin-top: 1rem;
    background-color: #fff;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }
  &-post {
    margin-bottom: 1rem;
    background-color: #fff;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    &__image {
      display: block;
      @include push--auto();
    }
    &__text {
      color: #333;
      background-color: #fff;
      margin: 0;
    }
  }
}