.dashboard {
  background-color: #eee;
  padding: 1rem;
  color: #333;
  overflow-x: hidden;
  height: 100%;
}

.news{
  margin-top: 1rem;
  margin-bottom: 1rem;
  &-author, &-post, &-post__text {
    padding: .5rem;
  }
  &-post {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: $border-radius-base;
    &__image {
      display: block;
      margin: .5rem auto;
    }
    &__text {
      color: #333;
      background-color: #fff;
      margin: 0;
    }
    &__author {
      background-color: #fff;
    }
    &__warning {
      color: red;
      font-weight: bold;
      font-size: 1em;
      padding: .5rem;
    }
  }
}