.sidebar {
  position: fixed;
  background-color: $blue;
  color: #eee;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  &::-webkit-scrollbar { width: 0; }
  -ms-overflow-style: none;
  padding: 1rem;
  left: 250px;
  width: 0;
  margin-left: -250px;
  transition: $transition-base ease;
}