.sidebar {
  background-color: $blue;
  color: #eee;
  &::-webkit-scrollbar { width: 0; }
  -ms-overflow-style: none;
  height: 100%;
  overflow: hidden;
  @include for-size(tablet-portrait-up) {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}