// colors
$blue               : #1b87c8;
$white              : #fff;

// transition
$transition-base    : .33s;
$transition-fast    : .2s;
$transition-slow    : .7s;

// other
$border-radius-base : 5px;
