$border-color: rgba(#eee, .2);

.friends {
  padding-top: .5rem;
  padding-bottom: .5rem;
  overflow: hidden;
  display: none;
  &-item {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &__avatar {
      display: block;
      max-width: 100px;
      @include push--auto();
    }
  }
  @include for-size(phone-only) {
    text-align: left;
    &-item {
      &__avatar {
          margin: 0;
          max-width: 50px;
      }
    }
  }
  @include for-size(tablet-portrait-up) {
    display: block;
  }
}