$border-color: rgba(#eee, .2);

.friends {
  padding-top: .5rem;
  padding-bottom: .5rem;
  overflow: hidden;
  @include for-size(phone-only) {
    text-align: center;
  }
  &-item {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &__avatar {
      @include push--auto();
    }
  }
}