header {
  box-sizing: border-box;
  display: flex !important;
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0; 
  align-items: center;
  height: 3rem;
  z-index: 10000;
  background-color: rgba(#fff, .8);
  width: 100%;
}