.sidebar {
  background-color: rgba(#123, .85);
  color: #eee;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding: 1rem;
  &-noscrollbar {
    &::-webkit-scrollbar { width: 0; }
    -ms-overflow-style: none;
  }
}