$border-color: rgba($whitesmoke, .1);

.friends {
  padding-top: .5rem;
  padding-bottom: 75px;
  overflow: hidden;
  &-item {
    border-top: 1px solid $border-color;
    &__avatar {
      display: block;
      max-width: 100px;
      @include push--auto();
    }
  }
}