$page-active-color: $blue;
$border-radius: 5px;

ul#pagination {
  padding: 1rem;
  border-radius: $border-radius;
  background-color: #fff;
  display: flex;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(#333, .1);
    border-radius: $border-radius;
    margin-right: 1rem;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: $transition-base ease-out;
  }
  li.active {
    background-color: $page-active-color;
    color: #fff;
  }
}