.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  &__status {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: darken(#eee, 5%);
  }
  &__avatar {
    display: block;
    max-width: 100px;
    @include push--auto();
  }
}